<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
default-init-method="inti"
default-destroy-method="destroy" >

    <bean id = "beanone" class = "com.radha.BeanOne" >
        <property name = "message" value = "BeanOne Message"/>
    </bean>

    <bean id = "beantwo" class = "com.radha.BeanTwo" >
        <property name = "message" value = "BeanTwo Message"/>
    </bean>

    <bean id = "beanthree" class = "com.radha.BeanThree" >
        <property name = "message" value = "BeanThree Message"/>
    </bean>

</beans>
